@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Login </h2>
<hr />
<login>Loading...</login>

@section scripts
{
    @Html.Partial("SystemConfig", Url.Content("~/js/login"))
}